<h1>Flights</h1>

<table>
	<thead>
		<th>Airline</th>
		<th>Flight number</th>
		<th>Departure time</th>
		<th>Status</th>
		<th>Arrival time</th>
		<th>Status</th>
		<th>Edit|Delete</th>
	</thead>
	<tbody>
		<% @flights.each do |flight| %>
			<tr class="text-center">
				<td><%= Airline.find(flight.airline_id).name %></td>
				<td><%= flight.number %></td>
				<td><%= flight.departue.date %></td>
				<td><%= flight.departue.status %></td>
				<td><%= flight.arrival.date %></td>
				<td><%= flight.arrival.status %></td>
				<td><%= link_to 'Update', edit_flight_path(flight) %> |<%= link_to 'Delete', flight_path(flight), method: :delete, data: { confirm: "Are you sure? This will eliminate this flight's data"} %> </td>
			</tr>
		<% end %>
	</tbody>

</table>

<%= link_to "Create a Flight", new_flight_path, class: "btn btn-info" %>
