<% if @airline.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <div id="error_explanation">
      <h2><%= pluralize(@airline.errors.count, "error") %> prohibited this Airline from being saved:</h2>

      <ul>
        <% @airline.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for(@airline, :html => {:class => "form-inline"}) do |f| %>
  
  <div class="form-group">
    <%= f.label :name, 'Airline name:  '%>
    <%= f.text_field :name, class: 'form-control', placeholder:"Category Name"%>
     <%= f.button :submit => "", class: 'btn btn-info'%>
  </div>
<% end %>
  