<div class= "container">
	<h2><%= @airline.name %>'s flights</h2>

	<table class= "table table-striped">
		<thead>		
			<th class= "text-center">Flight number</th>
			<th class= "text-center">Departure time</th>
			<th class= "text-center">Status</th>
			<th class= "text-center">Arrival time</th>
			<th class= "text-center">Status</th>
			<th class= "text-center">Edit|Delete</th>
		</thead>
		<tbody>
			<% @flights.each do |flight| %>
				<tr class="text-center">
					<td><%= flight.number %></td>
					<td><%= flight.departure.date.strftime("%H:%M %d-%b-%Y") %></td>
					<td><%= flight.departure.status %></td>
					<td><%= flight.arrival.date.strftime("%H:%M %d-%b-%Y") %></td>
					<td><%= flight.arrival.status %></td>
					<td><%= link_to 'Update', edit_flight_path(flight) %> |<%= link_to 'Delete', flight_path(flight), method: :delete, data: { confirm: "Are you sure? This will eliminate this flight's data"} %> </td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>